.boardWrapper {
    display: flex;
}

.board {
    margin: 0 200px;
    position: static;
}

.row {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: solid 1px black;
    width: 60px;
}

.column {
    width: 500px;
    display: table;
    table-layout: fixed;
    height: 60px;
}

.selected {
    background-color: yellow;
}

.way {
    background-color: red;
}

.piece {
    font-size: 30px;
    font-weight: bold;
}

.turnw {
    transform:rotate(180deg);
}

.disabled a {
    pointer-events: none;
}

.result {
    width: 100%;
    text-align: center;
}

.result p {
    font-size: 24px;
    font-weight: bold;
}

.b_hand, .w_hand {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border: solid 2px #CD853F;
    padding: 10px 30px;
    height: 80%;
}

.w_hand {
    transform: rotate(180deg);
    right: -160px;
}

.b_hand {
    left: -160px;
}
